
# Created by https://www.toptal.com/developers/gitignore/api/react,firebase
# Edit at https://www.toptal.com/developers/gitignore?templates=react,firebase

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc

### Firebase Patch ###
.runtimeconfig.json
.firebase/

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/react,firebase
