$primary: rgb(211, 53, 53);
$secondary: rgb(32, 32, 99);
$dark: rgb(25, 27, 41);
$light: rgb(226, 226, 226);


.modal {
    
    
    display: none; /* Hidden by default */

    position: fixed; /* Stay in place */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    
    
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    
    border-radius: 10px;
    background-color: $dark;
    color: $light;

    
    
  

  
    padding: 20px;
    border: 1px solid #888;
    text-align: center;
    width: 70%; /* Could be more or less, depending on screen size */
    min-height: 50%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    transition: 100ms;
}

.close:hover,
.close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}